:root {
    --primary-color: #dbcd34;
    /* Light theme primary color */
    --background-color: #ffffff;
    /* Light theme background */
    --text-color: #2c3e50;
    /* Light theme text color */
    --section-color: #f6f6f6;
    --tri-color: #f0f0f0;

    --complete-button-color-center: #4af491;
    --complete-button-color-border: #186c3b;
    --pure: #ffffff;
    --pure-inverted: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #b9aa29;
        /* Dark theme primary color */
        --background-color: #1a1a1a;
        /* Dark theme background */
        --text-color: #ecf0f1;
        /* Dark theme text color */
        --section-color: #1f1f1f;
        --tri-color: #232323;
        --complete-button-color-center: #186c3b;
        --complete-button-color-border: #4af491;
        --pure: #000000;
        --pure-inverted: #ffffff;
    }
}

a {
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    width: 100%;
}

.nav-link {
    color: var(--primary-color);
}

#main {
    background-color: var(--section-color);
    margin: 0px 30px 30px 30px;
    border-radius: 20px;
    flex: 1;
    flex-grow: 1;
    padding: 20px;
}

.section {
    background-color: var(--tri-color);
    padding: 20px;
    border-radius: 20px;
    overflow-x: auto;
    /* Adds a scrollbar ONLY when content overflows */
    -webkit-overflow-scrolling: touch;
    /* Makes scrolling smooth on iPhones/iPads */
}

.lesson-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5em;
}

pre {
    background-color: var(--background-color);
    padding: 2px;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: monospace;
    margin-bottom: 0;
}

.lesson-checkbox {
    margin-right: 20px;
    appearance: none;
    -webkit-appearance: none;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.lesson-checkbox::before {
    content: "";
    width: 1.7em;
    height: 1.7em;
    transform: scale(0);
    background-color: white;
    /* Simpler than box-shadow for a solid fill */
    transform-origin: center;
    /* Updated coordinates to fix the notch */
    clip-path: polygon(14% 44%, 0% 58%, 38% 100%, 100% 16%, 80% 0%, 43% 62%);
    transition: 120ms transform ease-in-out;
}

.lesson-checkbox:checked {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.lesson-checkbox:checked::before {
    transform: scale(1);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.complete-button {
    width: 100%;
    height: 2.5em;
    color: var(--text-color);
    background-color: var(--tri-color);
    border-radius: 20px;
    border: 2px solid var(--complete-button-color-border);
    cursor: pointer;
    font-size: 4em;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
}

.complete-button:hover {
    background-image: repeating-radial-gradient(circle, var(--complete-button-color-center), var(--complete-button-color-border));
}

.hoverable-code {
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.invis {
    border-radius: 10px;
    background-color: var(--pure);
    color: var(--pure);
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.invis>* {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

th {
    font-size: 1.75em;
    padding: 10px;
    margin: 0;
    border: 3px solid var(--pure-inverted);
    /* border-radius: 5px; */
}

tbody {
    /* border-radius: 10px; */
    padding: 10px;
}

td {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    border: 1px solid var(--pure-inverted);
    /* border-radius: 5px; */
}

table {
    border-spacing: 0;
    background-color: var(--tri-color);
    padding: 10px;
    border-radius: 20px;
}

.table-cont {
    overflow-x: auto;
    /* Adds a scrollbar ONLY when content overflows */
    -webkit-overflow-scrolling: touch;
    /* Makes scrolling smooth on iPhones/iPads */
}

code {
    display: inline-block;
    width: max-content;
}

pre {
    overflow-x: auto;
    /* Adds a scrollbar ONLY when content overflows */
    -webkit-overflow-scrolling: touch;
    /* Makes scrolling smooth on iPhones/iPads */
}

.hoverable-code {
    -webkit-tap-highlight-color: transparent;
}

.explainer-cont {
    margin-left: 2px;
    display: block;
    margin-bottom: 5px;
}

.explainer-cont>* {
    display: inline-block;
    font-size: 1.5em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    color: transparent;
    white-space: pre-wrap;
}

.explainer-cont>.info {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.explainer-cont>.margin {}


